/* primary style */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Great Vibes", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Josefin Slab", serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
}
body {
  /* max-width: 1440px; */
}
.primary-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 41px;
  background: #e02c6d;
  padding: 10px 8px 10px 24px;
  border: none;
}
.dispription {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.arrow {
  padding-right: 24px;
  width: 24px;
}
section {
  margin-bottom: 100px;
}

/* header section style */
header {
  max-width: 1200px;
  padding: 70px 0px;
  margin: auto;
  background: #fff;
}
/* navigation section style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tital {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav > ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-right: 34px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
ul a {
  color: #424242;
  text-decoration: none;
}

/* banner section style */
.banner {
  margin-top: 50px;
  display: flex;
  gap: 133px;
  align-items: center;
}
/* .banner-contant {
  width: 582px;
} */
.banner-tital {
  color: #3a3a3a;
  max-width: 582px;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner-discription {
  padding: 16px 0px;
  max-width: 505px;
}
.banner-image {
  background-image: url("images/Circle\ design.svg");
}
.banner-img {
  width: 100%;
}

/* main section style */
main {
  max-width: 1440px;
  background-color: #fff;
}

/* sponspors section style */
.sponspors {
  max-width: 1120px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.sponspors-card-container {
  display: flex;
  padding: 40px 60px;
  justify-content: space-evenly;
  gap: 60px;
  align-items: center;

  border-top: 2px solid transparent;
  border-image: linear-gradient(
      0.25turn,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50.38%,
      rgba(192, 204, 218, 0.1)
    )
    1 0 0 0;
  border-image-slice: 1;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-image-slice: 1;
  width: 100%;
}

/* Collection section style */

.Collection {
  padding: 0px 196px;
}
.Collection i {
  color: gold;
}
.Collection-tital {
  color: #3a3a3a;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
}
.card-container {
  margin-top: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.cards {
  border-radius: 5px;
  max-width: 329px;
  margin: auto;
  background: #fff;
  padding: 17px 14px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.cards img {
  width: 100%;
}
.card-tital {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.card-discription {
  color: #787885;
  font-size: 14px;
  width: 196px;
  font-weight: 700;
  line-height: 20.02px;
  letter-spacing: 0.252px;
}
.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.rating {
  padding: 6px 0px;
  display: flex;
  gap: 10px;
}

/* featured section style */
.featured {
  max-width: 1120px;
  margin: auto;
}
.featured-container {
  display: flex;
  gap: 96px;
  align-items: center;
}

.featured-tital {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.featured-discription {
  color: #6c6c6c;
  font-size: 16px;
  padding: 16px 0px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  max-width: 500px;
}
.featured-img img {
  width: 100%;
}

/* footer style */
.footer {
  color: #fff;
  background-color: #0a0826;
}
.footer-container {
  text-align: center;
  max-width: 280px;
  margin: auto;
  padding: 50px 0px;
}
.footer-container p {
  color: #d9dbe1;
  font-family: Manrope;
  max-width: 262;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.featured-container h2 {
  font-size: 24px;
  font-weight: 700;
}
.icon{
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* responsive section */
@media screen and (max-width: 576px) {
  header {
    margin-top: 40px;
  }
  /* navigation responsive */
  .nav-tital {
    text-align: center;
  }
  nav {
    flex-direction: column;
    gap: 30px;
  }
  nav > ul {
    flex-direction: column;
    gap: 20px;
  }

  /* banner responsive */
  .banner {
    padding-top: 100px;
    text-align: center;
    flex-direction: column-reverse;
    gap: 60px;
  }
  /* .banner-contant {
    width: 404px;
  } */

  /*sponspors responsive  */
  .sponspors {
    margin: 50px 50px;
    padding: 0px;
  }
  .sponspors-card-container {
    display: grid;
    /* margin: auto;
    width: 360px; */
    padding: 20px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .sponspors-card img {
    width: 34px;
  }

  /* collection responsive */
  .Collection {
    padding: 20px;
  }
  .card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  /* featured responsive */
  .featured-container {
    padding: 30px;
    text-align: center;
    flex-direction: column-reverse;
    gap: 66px;
  }
}

/* tablet or medium devies */
.hide {
  display: none;
}
@media screen and (min-width: 576px) and (max-width: 912px) {
  header {
    margin-top: 40px;
    padding: 0px;
  }
  /* navigation responsive */
  .nav-tital {
    text-align: center;
  }
  nav {
    flex-direction: column;
    gap: 30px;
  }

  .banner {
    margin-top: 50px;
    text-align: center;
    flex-direction: column-reverse;
    gap: 60px;
  }
  .banner-contant {
    width: 504px;
  }
  .banner-discription {
    padding: 25px 0px;
  }

  .sponspors {
    margin: 50px 60px;
    padding: 0px;
  }
  .sponspors-card-container {
    display: grid;
    /* margin: auto;
    width: 360px; */
    padding: 20px;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
  .sponspors-card img {
    width: 60px;
  }
  /* collection responsive */
  .Collection {
    padding: 30px;
  }
  .card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  /* featured responsive */
  .featured-container {
    padding: 0px;
    text-align: center;
    flex-direction: column-reverse;
    gap: 60px;
  }
  .featured-discription {
    padding: 24px 0px;
  }
}
